.comicArrow {
  position: absolute;
  bottom: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 30px solid black;
  &:before {
    content: "";
    position: absolute;
    bottom: 10px;
    translate: -50%;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 30px solid white;
  }
}

@keyframes bounceScale {
  0% {
    scale: 0;
  }
  70% {
    scale: 1.2;
  }
  80% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}

.bounceMount {
  animation: bounceScale 0.2s ease-in-out;
}
